# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    client_id: 1_3ywdlzyn1iyockc0wg0woksgswowss8gso84ow44scwo8ks84k
    client_secret: 50o6jk94cxgcs0co04wccsk84gkwgo8wc00w40c440c80w88kk
    client_auth_url: http://test-video-api.loc/app_dev.php/oauth/v2/auth
    client_token_url: http://test-video-api.loc/app_dev.php/oauth/v2/token
